@import "tailwindcss";

/* Cards layout */
.cards-container{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: flex-start;
	padding: 5px;
}

.offre{
	display: flex;
}

.card{
	flex: 0 1 320px;
	margin: 0;
}

.card ul{ margin: 5px; }