---
import "../styles/global.css";
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
---

<Layout titre="Accueil">
	<h1 style="color: rgb(210, 27, 210); padding: 10px">Accueil</h1>
	<h2 style="margin: 10px">
		Bienvenue à l'agence immobilière Les clés de Montbéliard
	</h2>
	<bouton
		class="bg-yellow-600 text-white p-2"
		style="border-radius: 5px; margin: 10px">
		<a href="agents">Voir nos agents</bouton
	>
</Layout>
