---
import "../styles/global.css";
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
---

<Layout titre="Offres">
    <h1 style="color: rgb(210, 27, 210); margin: 10px">Offres</h1>
    <!-- ou "Offres" pour la page des offres -->
    <h2 style="margin: 10px">Découvrez nos offres immobilières. Elles sont pour tout les goûts.</h2>
</Layout>
<Footer />
