---
import PbImage from '../components/PbImage.astro';
const  Offre = Astro.props.offre;
console.log(Offre);

---

<div class="card">
    <ul style="margin: 10px">
        <li style="font-weight: bold; color: rgb(210, 27, 210)">
            {Offre.nom_maison}
        </li>
        <PbImage record={Offre} recordImage={Offre.images[0]} />
    </ul>
</div>
