<nav style="background-color: gold; position:fixed; bottom:0; width:100%; text-align:center;">
    <p style="margin: 10px;">
        Agence immobilière
        <br />42 rue des Lilas
        <br />25200 Montbéliard
        <br />Téléphone : 03 84 25 39 64
        <br />Email : lesclesdeMontbeliard@gmail.com
    </p>
</nav>
